{% extends "layouts/main.html" %}

{% block content %}
<div id="blockContent" class="container">




       <div class="row">
         <div class="Eight columns">
           <table id="apptable" class="u-full-width">
           </table>
         </div>
       </div>

           <div class="row">
            <div class="three columns">
                <label for="app_update">Modify Application:</label>
                    <input id="app_update" class="u-full-width" type="text"  value="">
            </div>
        </div>
    <input id="update" class="button-primary" type="submit" value="Update">
    <input id="delete" class="button-primary" type="submit" value="Delete">
    <input id="create" class="button-primary" type="submit" value="Create">

</div>

<script src="/static/scripts/application.js"></script>
{% endblock %}

