{% extends "layouts/main.html" %}

{% block content %}
<div id="blockContent" class="container">
        <div class="row">
            <div class="two columns">
                <label >PI/Projects:</label>
                <input id="project" class="u-full-width" type="text" placeholder="50" value="50">
            </div>
        </div>
        <input id="create" class="button-primary" type="submit" value="Create">


</div>

<script src="/static/scripts/page_create_testobject.js"></script>
{% endblock %}

